@{
    ViewBag.Title = "API Demo";
}

<h2>API Demo</h2>
<p>Click the buttons below to call API endpoints that return status messages.</p>

<div id="api-buttons" class="margin-bottom">
    <button data-api-target="/api/success" class="btn btn-primary">Call Successful API</button>

    <button data-api-target="/api/error" class="btn btn-danger">Call Error API</button>
</div>

<pre id="output-container" style="display:none"></pre>


@section Scripts {
    <script>

        $('#api-buttons').on('click', 'button', (target) => {
            const button = $(target.currentTarget);

            const uri = button.data('api-target');

            console.log('This is where we would call ', uri);

            $.get(uri, function (data) {
                const outputContainer = $('#output-container');
                outputContainer.show();
                outputContainer.text('Time on the server: ' + data);
            });
        });
    </script>
}